@font-face {
    font-family: trajan;
    src: url(../assets/fonts/trajan-bold/Trajan\ Bold.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-anchor: none;
    list-style: none;
    font-family: trajan;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 1);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1)
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.8)
}

html {
    scroll-behavior: smooth;
}

section {
    /* width: 100vw; */
    height: 100vh;
}

.parallax {
    min-height: 100%;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    background: url(../assets/imgs/wayneManor/batmanRain.jpg) center/cover;
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
}

.card .title-card {
    width: 100%;
    height: 15%;
    text-align: center;
    font-size: 2em;
    color: white;
    text-shadow: 3px 3px 3px black;
}

.card .first-section {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 85%;
    gap: 50px;
    border: 5px solid #4A5575;
}

.card .first-section .chart {
    width: 100%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.8);
}

.card .first-section .loadout {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    gap: 10%;
    padding: 2%;
    color: white;
    text-shadow: 3px 3px 3px black;
}

.card .second-section {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 85%;
    border: 5px solid #4A5575;

}

.card .second-section .personal-batman {
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.card .second-section .batman-stats {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-shadow: 3px 3px 3px black;
}

.card .second-section .batman-stats .stats {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    color: white;
    border: 3px solid #4A5575;
}

.image {
    display: none;
}

.villain-sort {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.villain-sort .villains {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 90%;
}

.villain-sort .villains .villain1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.villain-sort .villains .villain2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 35% center;
}

.villain-sort .villains .villain3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.villain-sort .villains .villain1 {
    display: flex;
    height: 100%;
    width: 10%;
    filter: blur(2px) grayscale(100%);
    transition: 1s;
}


.villain-sort .villains .villain2 {
    display: flex;
    height: 100%;
    width: 10%;
    filter: blur(2px) grayscale(100%);
    transition: 1s;
}

.villain-sort .villains .villain3 {
    display: flex;
    height: 100%;
    width: 10%;
    filter: blur(2px) grayscale(100%);
    transition: 1s;
}

.villain-sort .villains .villain1:hover {
    display: flex;
    height: 100%;
    width: 50%;
    transform: skewX(-3deg);
    border: 5px solid white;
    filter: blur(0px) grayscale(0%);
    transition: 1s;
}

.villain-sort .villains .villain2:hover {
    display: flex;
    height: 100%;
    width: 50%;
    transform: skewX(-3deg);
    border: 5px solid white;
    filter: blur(0px) grayscale(0%);
    transition: 1s;
}

.villain-sort .villains .villain3:hover {
    display: flex;
    height: 100%;
    width: 50%;
    transform: skewX(-3deg);
    filter: blur(0px) grayscale(0%);
    border: 5px solid white;

    transition: 1s;
}

.villain-sort .sort {
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
}

.villain-sort .sort button {
    width: 30%;
    border-radius: 15%;
    border-style: none;
    font-size: 2em;
    background-color: #4A5575;
    color: white;
    transition: 1s;
}

.villain-sort .sort button:hover {
    width: 50%;
    border-radius: 20%;
    border-style: none;
    font-size: 2em;
}

.battle {
    background: url(../assets/imgs/finalBattle/gothamLocalBattle.jpg) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    border: 5px solid red;
}

/* .battle .title {
    text-align: center;
    height: 15%;
    color: white;
    font-size: 1.3em;
    border: 5px solid purple;
} */

.battle .battle-screen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    /* border: 5px solid orange; */
}

.battle .battle-screen .interative {
    display: flex;
    align-items: flex-end;
    height: 25%;
    width: 100%;
    text-shadow: 3px 3px 3px black;
    /* border: 5px solid forestgreen; */
}

.battle .battle-screen .interative .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 40%;
    /* border: solid 5px blue; */
}

.battle .battle-screen  .interative .actions button {
    border-style: none;
    color: white;
    background-color: hsl(222, 20%, 8%);
    border-radius: 10%;
    width: 25%;
    height: 50%;
    border: 2px solid whitesmoke
}

.battle .battle-screen .interative .actions button:hover {
    background-color: hsl(222, 20%, 25%);
    width: 28%;
}

.battle .battle-screen .interative .stats-box {
    display: flex;
    color: white;
    background-color: hsl(222, 20%, 8%);
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    border: whitesmoke 5px solid;
}

.battle .battle-screen .characters {
    /* border: 5px solid yellow; */
    display: flex;
    width: 100%;
    height: 75%;
}

.battle .battle-screen .characters .villain {
    display: flex;
    justify-content: center;
    /* border: 5px solid fuchsia; */
    width: 50%;
    max-height: 100%;
}

#villain1, #villain2, #villain3{
    display: none;
}

.battle .battle-screen .characters .hero {
    display: flex;
    justify-content: center;
    /* border: 5px solid white; */
    width: 50%;
    height: 100%;
}

.leaderboard {
    background: url(../assets/imgs/finalBattle/batSignal.webp) center/cover;
}

.leaderboard-item {
    font-size: 2em;
    color: white
}