@font-face {
    font-family: burton;
    src: url(../assets/fonts/burtons_nightmare/NITEMARE.TTF);
}

@font-face {
    font-family: trajan;
    src: url(../assets/fonts/trajan-bold/Trajan\ Bold.ttf);
}

@font-face {
    src: url(../assets/fonts/riffic-bold/Riffic-Bold/riffic.ttf);
    font-family: riffic;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-anchor: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1)
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 1);
}

section {
    /* width: 100vw; */
    height: 100vh;
}

.parallax {
    min-height: 100%;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Settings for all sections */

.welcome {
    display: flex;
    font-family: burton;
}

/* Settings for all sections */
.back {
    height: 25vh;
    width: 100%;
    background: url(../assets/imgs/wayneManor/batBack.webp) center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.back button {
    font-family: riffic;
    width: 300px;
    font-size: 1.5em;
    border: 5px solid black;
    border-radius: 1em;
    background-color: yellow;
    transition: 1.5s;
}

.back a {
    color: black;
}

.back button:hover {
    width: 100%;
    background-color: yellow;
}


/* CLASS FOR THE TWO SECTIONS */

.half {
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(4px) grayscale(80%);
    width: 50%;
    height: 100%;
}

.welcome .arkham-asylum {
    background-image: url(../assets/imgs/villainsGlossary/arkhamAsylumEntrance.jpg);
    display: flex;
    align-items: center;
    text-align: center;
}

.welcome .black-gate {
    background-image: url(../assets/imgs/villainsGlossary/blackGatePrision.webp);
    display: flex;
    align-items: center;
    text-align: center;
}

.welcome h1 {
    font-size: 35px;
    color: white;
    -webkit-box-reflect: below -0px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    text-shadow: 3px 3px 3px black;

}

.black-gate:hover {
    width: 200%;
    filter: blur(0) grayscale(0%);
    transition: 2s;
    cursor: default;
}

.arkham-asylum:hover {
    width: 200%;
    filter: blur(0) grayscale(0%);
    transition: 2s;
    cursor: default;
}

/*====================================================================================== SECTION 2 */

.villain-glossary {
    background-color: black;
    background-image: url();
    position: relative;
    font-family: trajan;
}

.villain-glossary .character-list {
    display: inline-flex;
    justify-content: space-evenly;
    width: 65%;
    flex-wrap: nowrap;
    position: relative;
    z-index: 1;
}

.villain-glossary .character-list .character img {
    width: 3.6em;
    height: 3.6em;
    border: 5px solid rgba(255, 255, 255, 0.2);
}

.villain-glossary .character-list .character img:hover {
    transition: 0.3s;
    width: 7.5em;
    height: 7.5em;
    border: 5px solid rgba(242, 255, 4, 0.8);
}

.villain-glossary .description {
    display: flex;
    justify-content: center;
    height: 65%;
    width: 65%;    

}

.villain-glossary .description .description-text {
    height: 100%;
    width: 90%;
    color: white;
}

.villain-glossary .description .character-selected {
    height: 100%;
    width: 40%;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    z-index: 0;
}

.character-selected .character-name {
    color: white;
    text-shadow: 3px 3px 3px black;
    position: absolute;
    font-size: 3.5em;
    bottom: 0;
}

.character-name::first-letter {
    font-size: 1.7em;
}

.villain-glossary .description .character-selected .character-large {
    width: 100%;
    height: 100%;
    display: none;
    transition: 1s;
}

#textCharacter {
    background-color: rgba(0, 0, 0, 0.6);
    text-shadow: 3px 3px 3px black;
    text-align: center;
    height: 100%;
    width: 90%;
    margin-left: 50px;
    font-family: riffic;
    font-size: 2em;
    overflow: scroll;
    overflow-x: hidden;
    /* text-wrap: balance; */
}

#characterName {
    border-bottom: 5px solid white;
    color: a;
}